.main-page {
  min-width: 400px;
  height: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;

  .content-with-menu {
    display: flex;
    flex: 1;
    flex-direction: row;

    .main-content {
      flex: 1;
      overflow: auto;
    }
  }

  .ant-table-row {
    background-color: white;
  }

  .card-container > .ant-tabs-card > .ant-tabs-content {
    //height: 120px;
    margin-top: -16px;
  }

  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
  }
}

