.company-applies {
  margin: 16px;

  .expanded-row {
    display: flex;
    flex-direction: row;

    .picture {
      max-height: 450px;
      max-width: 450px;
    }

    .detail-form {
      width: 500px;
      display: inline-block;
      margin-left: 8px;

      .company-logo {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}