.company-applies {
  margin: 16px;

  .expanded-row {
    display: flex;
    flex-direction: row;

    .picture {
      max-height: 600px;
      max-width: 450px;
    }

    .detail-form {
      width: 500px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}