.one-speak-section {
  position: relative;
  padding: 0.4rem;
  //min-height: 2rem;

  img {
    width: 2rem;
    height: 2rem;
  }

  .chat-bubble {
    min-height: 2rem;
    line-height: 1rem;
    max-width: 11rem;
    word-break: break-all;
  }

  &.attach-left {
    img {
      position: absolute;
    }

    .chat-bubble {
      float: left;
      margin-left: 2.5rem;
    }
  }

  &.attach-right {
    img {
      float: right;
    }

    .chat-bubble {
      float: right;
      margin-right: 0.5rem;
    }
  }
}